
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>CochesCutres.com - Página principal</h1>

        <h2>Menú principal</h2>

        <h3>Añadir registros:</h3>
        <ul>
            <li><a href="/Clientes/AltaCliente">Registrar clientes.</a></li>
            <li><a href="/Empleados/AltaEmpleado">Registrar empleados.</a></li>
            <li><a href="/Operaciones/AltaOperacion">Registrar operaciones de compra y venta.</a></li>
        </ul>

        <h3>Ver / Modificar registros:</h3>
        <ul>
            <li><a href="/Clientes">Ver y/o modificar clientes.</a></li>
            <li><a href="/Empleados">Ver y/o modificar empleados.</a></li>
            <li><a href="/Vehiculos">Ver y/o modificar vehículos.</a></li>
            <li><a href="/Operaciones">Ver operaciones de compra y venta.</a></li>
        </ul>
    </div>
</body>
</html>
